<h1>This is the secret page!</h1>

<h3>
	You have to be signed in to see this.
</h3>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Sign In</a></li>
<li><a href="/logout">Sign Out</a></li>